.box-layout {
  align-items: center;
  background: $unnamed-color-f6f8f9;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  background: $white;
  border-radius: 12px;
  padding: $m-size $m-size;
  text-align: center;
  width: 35rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  color: $blue;
  text-decoration: none;
  font-size: 40px;
  font-family: Helvetica;
  font-weight: bold;
}

.normal-text{
  color:$title-grey;
  size: 13px;
  font-family: Helvetica;
}

.login__button{
  background-color: transparent;
  border: 3px solid $button-red;
  border-radius: 6px;
  width: 152px;
  height: 40px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size:14px;
  color:$button-red;
}

