
.form__container{
  margin-top: 24px;
  background-color: $background-grey;
}

.form__duration{
  font-size: 13px;
  font-weight: normal;
  color: $title-grey;
  padding: 0;
  margin-bottom: $s-size;
}

.form__submit{
  background-color:$button-red;
  color:white;
  border-radius: 6px;
  width: 152px;
  height: 40px;
  border-color: transparent;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size:11px;
  letter-spacing: normal;
  opacity: 1;
}

.form__textInput{
  background-color: white;
  border: 2px solid $unnamed-color-ebeded;
  border-radius: 6px;
  padding-left:16px;
  height: 40px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.form__textInput:focus{
  outline: none;
  border: 2px solid $unnamed-color-72acff;
}

.form__textArea{
  background-color: white;
  border: 2px solid $unnamed-color-ebeded;
  border-radius: 6px;
  padding-left:16px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.form__textArea:focus{
  outline: none;
  border: 2px solid $unnamed-color-72acff;
}

.form__select{
  background-color: white;
  border: 2px solid $unnamed-color-ebeded;
  border-radius: 6px;
  padding-left:16px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  height: 40px;
}

.form__select:focus{
  outline: none;
  border: 2px solid $unnamed-color-72acff;
}




