
.header__content {
  align-items: left;
  padding: $m-size 0;
  background:$background-grey;
}

.header__title {
  color: $blue;
  text-decoration: none;
  padding: 2px;
  margin: 0; 
  font-size: $font-size-title;
  font-family: Helvetica;
  font-weight: bold;
}

.nav-link{
background-color: white;
color:black;
display: flex;
padding: $s-size $xl-size;
font-family: Helvetica;
font-weight: normal;

}

.nav-link:hover{
background-color: white;
color:black;
}








