
.header__content {
  align-items: left;
  margin-top: 50px;
  background: blue; //$background-grey;
}

.header__title {
  color: $blue;
  text-decoration: none;
  padding: 2px;
  margin: 0; 
  font-size: 40px;
  font-family: Helvetica;
  font-weight: bold;
}

.header__nav{
  background-color: green;
  margin-top: 40px;
  width: 100%;
  
}

.nav-link{
background-color: white;
color:black;
display: inline-block;
padding-top: 10px;
font-family: Helvetica;
font-weight: Bold;
font-size: 13px;
text-align: center;
width: 100px;
height: 40px;
letter-spacing: 0px;
}

.nav-link:hover{
background-color: white;
color:black;
}








