
.header__content {
  align-items: left;
  padding: $m-size 0;
  background:$background-grey;
}

.header__title {
  color: $blue;
  text-decoration: none;
  padding: 2px;
  margin: 0; 
  font-size: $font-size-title;
  font-family: Helvetica;
  font-weight: bold;
}

.nav-link{
background-color: white;
color:black;
display: inline-block;
padding-top: 10px;
font-family: Helvetica;
font-weight: Bold;
font-size: 13px;
text-align: center;
width: 111px;
height: 40px;
letter-spacing: 0px;
}

.nav-link:hover{
background-color: white;
color:black;
}








