.text-input {
  border: 2px solid $border-grey;
  border-radius: 8px;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.select {
  @extend .text-input;
}

.textarea {
  height: 10rem;
  border: 2px solid $border-grey;
  border-radius: 8px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.duration{
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
  color: $title-grey;
}
