.list-container{
  margin: 0 auto;
  padding: 0 $l-size;
  max-width: 80rem;
  //background-color: turquoise;
  border: 2px solid $background-grey;
  margin-top:5px;
}

.list__heading{
  //border: 2px solid black;
  //background: $off-white;
  color: $title-grey;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 11px;
  margin-bottom: 0px;
  padding: none;
}

.list__firstCol{
  width:30px;
  text-align: right;
  //background-color: pink;
}

.list__symbol{
border: 2px solid black;
height:100%;
background-color: yellow;
text-align: center;
margin-bottom: 0px;
}

.list__lastCol{
  width:30px;
}

.list__itemContainer{
  border: 2px solid white;
  max-width: 80rem;
  height:56px;
  //margin-top:10px;
  //margin: 0 auto;
  margin-left:auto;
  margin-right:auto;
  margin-top:8px;
  padding-top: 14px;
  padding-right: $l-size;
  padding-left: $l-size;
  background-color: white;
}


.list-item:hover{
  background: $off-white;
}

.list-item__title {
  margin: 0;
  font-family: Helvetica;
  color:black;
  font-size: 13px;
}

.list-link:hover{
  text-decoration: none;
  color:black;  
}



