.page-header {
  background: $background-grey;
  margin: $s-size;
  padding: $m-size 0;
}

.page-header__actions {
  margin-top: $m-size;
}

.page-header__title {
  font-weight: 400;
  margin: 0;
  color: $title-grey;
  span {
    font-weight: 700;
  }
}
