.page-header {
  background: pink;
  margin-top: 24px;
  padding: 0px;
}

.page-header__title {
  font-weight: bold;
  margin: 0;
  color: $title-grey;
  text-align:left;
  font-size: 24px;
  font-family: Helvetica;
}
