// Colors
$dark-grey: #333;
$grey: #666;
$dark-blue: #364051;
$off-white: #f7f7f7;

// Given colors

$blue: #72ACFF;
$title-grey: #A6ADB4;
$button-green: #52E5BA;
$white: #FFFFFF;
$button-yellow: #FFC96C;
$border-grey: #EBEDED;
$text-black: #202124;
$error-red: #FF4D4D;
$background-grey: #F6F8F9;
$button-red: #FA6980;

// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$vs-size:0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

//adobe
$font-size-title: 40px;
/* Colors: */
$unnamed-color-72acff: #72ACFF;
$unnamed-color-a6adb4: #A6ADB4;
$unnamed-color-52e5ba: #52E5BA;
$unnamed-color-ffffff: #FFFFFF;
$unnamed-color-ffc96c: #FFC96C;
$unnamed-color-ebeded: #EBEDED;
$unnamed-color-202124: #202124;
$unnamed-color-ff4d4d: #FF4D4D;
$unnamed-color-f6f8f9: #F6F8F9;
$unnamed-color-fa6980: #FA6980;


/* Font/text values */
$unnamed-font-family-acumin-pro: Acumin Pro;
$unnamed-font-style-normal: normal;
$unnamed-font-weight-bold: bold;
$unnamed-font-weight-normal: normal;
$unnamed-font-size-11: 11px;
$unnamed-font-size-13: 13px;
$unnamed-font-size-16: 16px;
$unnamed-font-size-24: 24px;
$unnamed-font-size-32: 32px;

$unnamed-character-spacing-0: 0px;
$unnamed-line-spacing-20: 20px;
$unnamed-line-spacing-23: 23px;
$unnamed-line-spacing-26: 26px;
$unnamed-line-spacing-34: 34px;
$unnamed-line-spacing-42: 42px;


/* Character Styles */
.unnamed-character-style-1 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-bold;
font-size: $unnamed-font-size-11;
line-height: $unnamed-line-spacing-20;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-a6adb4;
}

.unnamed-character-style-2 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-bold;
font-size: $unnamed-font-size-13;
line-height: $unnamed-line-spacing-20;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-ffffff;
}
.unnamed-character-style-3 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-bold;
font-size: $unnamed-font-size-13;
line-height: $unnamed-line-spacing-20;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-202124;
}
.unnamed-character-style-4 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-bold;
font-size: $unnamed-font-size-16;
line-height: $unnamed-line-spacing-26;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-202124;
}
.unnamed-character-style-5 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-bold;
font-size: $unnamed-font-size-24;
line-height: $unnamed-line-spacing-34;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-202124;
}
.unnamed-character-style-6 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-bold;
font-size: $unnamed-font-size-32;
line-height: $unnamed-line-spacing-42;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-202124;
}
.unnamed-character-style-7 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-normal;
font-size: $unnamed-font-size-13;
line-height: $unnamed-line-spacing-20;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-202124;
}
.unnamed-character-style-8 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-normal;
font-size: $unnamed-font-size-13;
line-height: $unnamed-line-spacing-23;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-a6adb4;
}
.unnamed-character-style-9 {
font-family: $unnamed-font-family-acumin-pro;
font-style: $unnamed-font-style-normal;
font-weight: $unnamed-font-weight-normal;
font-size: $unnamed-font-size-16;
line-height: $unnamed-line-spacing-26;
letter-spacing: $unnamed-character-spacing-0;
color: $unnamed-color-a6adb4;
}
